{% extends "layout.html" %}
{% block content %}
 <style>
    .card {
      background-color: #2b2b2b;
      border: none;
    } 
    .card-header {
      background-color: #3c3c3c;
      color: #fff;
      border-bottom: none;
      text-align: center;
    }
    .list-group-item {
      background-color: #2b2b2b;
      border-color: #3c3c3c;
      color: #fff;
      text-align: center;
    }
  </style>
 <br><div style="display: flex; justify-content: center;">
    <div class="card" style="width: 30rem; background-color: #2b2b2b;">
        <div class="card-header" style="background-color: hsl(131, 96%, 40%); color: #3c3c3c; border-bottom: none;">
            <h4>Categoria: {{ producto.categoria }}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background-color: hsl(0, 0%, 28%); border-color: #3c3c3c; color: #fff;"><h5>{{ producto.nombre }}</h5></li>
          <li class="list-group-item" style="background-color: hsl(0, 0%, 28%); border-color: #3c3c3c; color: #fff;">S/ {{ producto.precio }}</li>
          <li class="list-group-item" style="background-color: hsl(0, 0%, 28%); border-color: #3c3c3c; color: #fff;">Stock: {{ producto.stock }}</li>
        </ul>
      </div>
  </div><br>
{% endblock %}

